$normal: #e6f4ff; // BG_COLOR[0]
$upcoming: #fff9c9; // BG_COLOR[9]
$doing: #defbf7; // BG_COLOR[2]
$ended: #efefef;

$normal-dark: darken($normal, 25%);
$upcoming-dark: darken($upcoming, 25%);
$doing-dark: darken($doing, 25%);
$ended-dark: darken($ended, 25%);

$normal-dark-2: darken($normal, 75%);
$upcoming-dark-2: darken($upcoming, 75%);
$doing-dark-2: darken($doing, 75%);
$ended-dark-2: darken($ended, 75%);

.card {
  &--normal {
    background-color: $normal;
  }

  &--upcoming {
    background-color: $upcoming;
  }

  &--doing {
    background-color: $doing;
  }

  &--ended {
    background-color: $ended;
  }
}

.header {
  &--normal {
    background-color: $normal-dark;
  }

  &--upcoming {
    background-color: $upcoming-dark;
  }

  &--doing {
    background-color: $doing-dark;
  }

  &--ended {
    background-color: $ended-dark;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    &--normal {
      background-color: $normal-dark-2;
    }

    &--upcoming {
      background-color: $upcoming-dark-2;
    }

    &--doing {
      background-color: $doing-dark-2;
    }

    &--ended {
      background-color: $ended-dark-2;
    }
  }

  .header {
    &--normal {
      background-color: $normal-dark;
    }

    &--upcoming {
      background-color: $upcoming-dark;
    }

    &--doing {
      background-color: $doing-dark;
    }

    &--ended {
      background-color: $ended-dark;
    }
  }
}
