@use "variables" as *;

// region 颜色

// 文本颜色
.text-hightlight {
  color: $textColorHighlighted;
}
.text-base {
  color: $textColor;
}
.text-toned {
  color: $textColorToned;
}
.text-muted {
  color: $textColorMuted;
}
.text-reverse {
  color: $textColorReverse;
}
.text-primary {
  color: $primary;
}

// 背景颜色
.bg-base {
  background-color: $bgColor;
}
.bg-page {
  background-color: $bgColorPage;
}
.bg-primary {
  background-color: $bgColorPrimary;
}
.bg-transparent {
  background-color: transparent;
}
.bg-shadow {
  background-color: $bgColorShadow;
}
.bg {
  background-color: $bgColor;
}

// 边框颜色
.border-hightlight {
  border: 1px solid $textColorHighlighted;
}
.border-base {
  border: 1px solid $textColor;
}
.border-toned {
  border: 1px solid $textColorToned;
}
.border-muted {
  border: 1px solid $textColorMuted;
}
.border-reverse {
  border: 1px solid $textColorReverse;
}
.border-primary {
  border: 1px solid $primary;
}

// endregion

// region 文本

// 文本大小
.text-sm {
  font-size: $fontSM;
}
.text-md {
  font-size: $fontMD;
}
.text-lg {
  font-size: $fontLG;
}
.text-xl {
  font-size: $fontXL;
}
.text-2xl {
  font-size: $font2XL;
}

// 文本样式
.text-bold {
  font-weight: bold;
}

// 简写样式
.text {
  color: $textColor;
  font-size: $fontMD;
}
.bold {
  color: $textColorHighlighted;
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// endregion

// region 布局

// position
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

// flex
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

// flex align-items
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}

// flex justify-content
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

// flex flex
.flex-1 {
  flex: 1;
}

// 简写属性
.center {
  align-items: center;
  justify-content: center;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden {
  display: none;
}
.opacity {
  opacity: 0;
}

// 圆角
.rounded-sm {
  border-radius: $roundedSM;
}
.rounded-md {
  border-radius: $roundedMD;
}
.rounded-lg {
  border-radius: $roundedLG;
}
.rounded-xl {
  border-radius: $roundedXL;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded {
  border-radius: $roundedMD;
}

// endregion

// region 间距

// p
.p-xs {
  padding: $spacingXS;
}
.p-sm {
  padding: $spacingSM;
}
.p-md {
  padding: $spacingMD;
}
.p-lg {
  padding: $spacingLG;
}
.p-xl {
  padding: $spacingXL;
}
.p {
  padding: $spacingLG;
}

// px
.px-xs {
  padding-left: $spacingXS;
  padding-right: $spacingXS;
}
.px-sm {
  padding-left: $spacingSM;
  padding-right: $spacingSM;
}
.px-md {
  padding-left: $spacingMD;
  padding-right: $spacingMD;
}
.px-lg {
  padding-left: $spacingLG;
  padding-right: $spacingLG;
}
.px-xl {
  padding-left: $spacingXL;
  padding-right: $spacingXL;
}
.px {
  padding-left: $spacingLG;
  padding-right: $spacingLG;
}

// py
.py-xs {
  padding-top: $spacingXS;
  padding-bottom: $spacingXS;
}
.py-sm {
  padding-top: $spacingSM;
  padding-bottom: $spacingSM;
}
.py-md {
  padding-top: $spacingMD;
  padding-bottom: $spacingMD;
}
.py-lg {
  padding-top: $spacingLG;
  padding-bottom: $spacingLG;
}
.py-xl {
  padding-top: $spacingXL;
  padding-bottom: $spacingXL;
}
.py {
  padding-top: $spacingLG;
  padding-bottom: $spacingLG;
}

// m
.m-xs {
  margin: $spacingXS;
}
.m-sm {
  margin: $spacingSM;
}
.m-md {
  margin: $spacingMD;
}
.m-lg {
  margin: $spacingLG;
}
.m-xl {
  margin: $spacingXL;
}
.m {
  margin: $spacingLG;
}

// mx
.mx-xs {
  margin-left: $spacingXS;
  margin-right: $spacingXS;
}
.mx-sm {
  margin-left: $spacingSM;
  margin-right: $spacingSM;
}
.mx-md {
  margin-left: $spacingMD;
  margin-right: $spacingMD;
}
.mx-lg {
  margin-left: $spacingLG;
  margin-right: $spacingLG;
}
.mx-xl {
  margin-left: $spacingXL;
  margin-right: $spacingXL;
}
.mx {
  margin-left: $spacingLG;
  margin-right: $spacingLG;
}

// my
.my-xs {
  margin-top: $spacingXS;
  margin-bottom: $spacingXS;
}
.my-sm {
  margin-top: $spacingSM;
  margin-bottom: $spacingSM;
}
.my-md {
  margin-top: $spacingMD;
  margin-bottom: $spacingMD;
}
.my-lg {
  margin-top: $spacingLG;
  margin-bottom: $spacingLG;
}
.my-xl {
  margin-top: $spacingXL;
  margin-bottom: $spacingXL;
}
.my {
  margin-top: $spacingLG;
  margin-bottom: $spacingLG;
}

// gap
.gap-xs {
  gap: $spacingXS;
}
.gap-sm {
  gap: $spacingSM;
}
.gap-md {
  gap: $spacingMD;
}
.gap-lg {
  gap: $spacingLG;
}
.gap-xl {
  gap: $spacingXL;
}
.gap {
  gap: $spacingLG;
}

// inset
.inset-xs {
  top: $spacingXS;
  right: $spacingXS;
  bottom: $spacingXS;
  left: $spacingXS;
}
.inset-sm {
  top: $spacingSM;
  right: $spacingSM;
  bottom: $spacingSM;
  left: $spacingSM;
}
.inset-md {
  top: $spacingMD;
  right: $spacingMD;
  bottom: $spacingMD;
  left: $spacingMD;
}
.inset-lg {
  top: $spacingLG;
  right: $spacingLG;
  bottom: $spacingLG;
  left: $spacingLG;
}
.inset-xl {
  top: $spacingXL;
  right: $spacingXL;
  bottom: $spacingXL;
  left: $spacingXL;
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.inset {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//endregion

// region 尺寸

// size
.size-xs {
  width: $sizeXS;
  height: $sizeXS;
}
.size-sm {
  width: $sizeSM;
  height: $sizeSM;
}
.size-md {
  width: $sizeMD;
  height: $sizeMD;
}
.size-lg {
  width: $sizeLG;
  height: $sizeLG;
}
.size-xl {
  width: $sizeXL;
  height: $sizeXL;
}
.size-2xl {
  width: $size2XL;
  height: $size2XL;
}
.size-3xl {
  width: $size3XL;
  height: $size3XL;
}
.size {
  width: $sizeMD;
  height: $sizeMD;
}
.fit {
  width: fit-content;
  height: fit-content;
}

// w
.w-xs {
  width: $sizeXS;
}
.w-sm {
  width: $sizeSM;
}
.w-md {
  width: $sizeMD;
}
.w-lg {
  width: $sizeLG;
}
.w-xl {
  width: $sizeXL;
}
.w-2xl {
  width: $size2XL;
}
.w-3xl {
  width: $size3XL;
}
.w-fit {
  width: fit-content;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w {
  width: $sizeMD;
}

// h
.h-xs {
  height: $sizeXS;
}
.h-sm {
  height: $sizeSM;
}
.h-md {
  height: $sizeMD;
}
.h-lg {
  height: $sizeLG;
}
.h-xl {
  height: $sizeXL;
}
.h-2xl {
  height: $size2XL;
}
.h-3xl {
  height: $size3XL;
}
.h-fit {
  width: fit-content;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h {
  height: $sizeMD;
}

// endregion
