@keyframes rockLeft {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
}

@keyframes rockRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
}
